@import 'tailwindcss';
@plugin "daisyui" {
  theme:light;
}
/* Add cursor pointer to buttons by default - this is coming from tailwind docs */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  select:not(:disabled),
  [role='select']:not(:disabled) {
    cursor: pointer;
  }
}

